<div class="page-title">
    <div class="container">
        <div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                    <img src="./image/aboutcompany.jpg" alt="image">
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="home">HOME</a>
                            </li>
                            <li>
                                <a href="#details">SERVICE DETAILS</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-typography">
   <section class="flat-elements">
       <div class="container">
           <div class="row">
               <div class=" col-md-5 col-sm-12">
                   <div class="heading-elements">
                       <h1>About</h1>
                       <h2>Company</h2>
                      
                   </div>
               </div>
               <div class=" col-md-7 col-sm-12">
                   <div class="text-elements">
                       <p class="text-one">“The companies can be divided into different types based on parameters such as Size of company, a number of its members, Control of ownership, Liability to shareholders, need of capital from public & On the basis of the manner in which capital can be accessed. A company is popularly referred as a group of person coming together with resources in terms of capital, manpower, and skill for the common objective of making profits.” </p>
                       <p class="text-two">On the basis of size a company can be divided in two categories (a) Small companies b) Other companies
On the basis of number of members: a) One person company b) Private companies c) Public companies
 </p>
                       <p class="text-two">On the basis of control: a) Holding companies b) Subsidiary companies c) Associate companies
On the basis of liability: a) Limited (I) by Shares (II) by Guarantee (b) Unlimited
                           On the basis of manner of access to capital: a) Listed companies b) Un-listed companies
</p>
                       <p class="text-one">In India, a company can be formed only by registering it with the concerned registrar of companies by following the procedure prescribed under the Companies Act or the rules framed thereunder. Though there are provisions in the act by which Fifteen types of company can be incorporated like an unlimited company, guarantee company apart from public limited, private limited companies.</p>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <div class="flat-blockquote main-blog-grid">
       <div class="container">
           <div class="row">
               <div class="col-lg-2 col-md-2 col-sm-2">

               </div> 
               <div class="col-lg-8 col-md-8 col-sm-8">
                   <div class="wrap-blockquote main-text">
                       <blockquote>following are the most common types of company which can be incorporated in India:-</blockquote>
                         <span><a href="#"> - 	Private Limited </a></span>
                          <span><a href="#"> - 	Public Limited </a></span>
                          <span><a href="#"> - 	One Person Company </a></span>
                          <span><a href="#"> - Limited Liability Parnership (LLP) </a></span>
                          <span><a href="#"> - Section 8 </a></span>
                   </div>
               </div>
               <div class="col-lg-2 col-md-2 col-sm-2">
                   
               </div>
           </div>
       </div>
   </div>
 
   <div class="flat-form">
       <div class="container">
           <div class="row">
              <div class="col-lg-12">
                  <div class="wrap-form">
                        <span class="wpcf7-form-control-wrap your-name">
                            <input type="text" tabindex="1" id="name" name="name" value="" class="wpcf7-form-control" placeholder="Enter your desired company name" required>
                        </span>
                        <div class="flat-divider-margintop10px"></div>                                                           
                        <span class="wpcf7-form-control-wrap your-email">
                            <input type="email" tabindex="3" id="email" name="email" value="" class="wpcf7-form-control" placeholder="Enter your email" required>
                        </span>
                        <span class="wpcf7-form-control-wrap your-message">
                           <textarea name="message" tabindex="5" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" placeholder="Enter your Phone Number" required ></textarea>
                        </span> 
                        <div class="wrap-btn">
                          <a href="#" class="flat-button-arrow">Call me</a>
                        </div>
                  </div>
              </div> 
           </div>
       </div>
   </div>
</div>



