
    <div class="page-title">
        <div  class="container">
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <img src="image/contactus.jpg" alt="image">                   </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-image:url('image/contactus.jpg')" class="main-contact">
        
        <section class="flat-get-in-touch clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="wrap-get-in-touch">
                            <div class="get-in-touch">
                                <p>ANY QUERY</p>
                                <h2>Get In Touch</h2>
                                <form  action="#" method="post" accept-charset="utf-8" class="form-submit contact-form wpcf7-form">
                                    <span class="wpcf7-form-control-wrap your-name">
                                        <input type="text" tabindex="1" id="name" name="name" value="" class="wpcf7-form-control name" placeholder="Enter your name...." required>
                                    </span>
                                    <div class="flat-divider-margintop10px"></div>                                                           
                                    <span class="wpcf7-form-control-wrap your-email">
                                        <input type="email" tabindex="3" id="email" name="email" value="" class="wpcf7-form-control email" placeholder="Enter your email...." required>
                                    </span>
                                    <div class="flat-divider-margintop12px"></div>
                                    <span class="wpcf7-form-control-wrap your-message">
                                        <textarea name="message" tabindex="5" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea message" placeholder="Enter your message...." required ></textarea>
                                    </span> 
                                    <div class="flat-divider-margintop12px "></div>                                                            
                                    <div class="wrap-submit submit-form">
                                        <div class="wrap-btn">
                                            <a href="#" class="flat-button-arrow">Learn More</a>
                                        </div>
                                    </div>                                                         
                                </form>
                            </div>
                            <div class="contact-info">
                                <p>ANYTHING ON MIND</p>
                                <h3>Contact Info</h3>
                                <ul>
                                    <li class="clearfix">
                                        <div class="wrap-icon">
                                            <img src="image/contact/contact3.png" alt="consulty">
                                        </div>
                                        <div class="wrap-info">
                                            <h2>Phone Number</h2>
                                            <p class="top">+91-9891838704</p>
                                            <p class="bottom">9891838704</p>
                                        </div>
                                    </li>
                                    <li class="center clearfix">
                                        <div class="wrap-icon">
                                            <img src="image/contact/contact4.png" alt="consulty">
                                        </div>
                                        <div class="wrap-info">
                                            <h2>Email Address</h2>
                                            <p class="top">info@shinelgals.com</p>
                                            
                                        </div>
                                    </li>
                                    <li class="bottom clearfix">
                                        <div class="wrap-icon">
                                            <img src="image/contact/contact5.png" alt="consulty">
                                        </div>
                                        <div class="wrap-info">
                                            <h2>Registered Office Address</h2>
                                            <p class="top">E-213, Sector-36 Noida</p>
                                            <p>201301 INDIA</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
   