<div  class="flat-slider style1">
	<!-- SLIDER -->
	<div class="rev_slider_wrapper fullwidthbanner-container">
		<div id="rev-slider3" class="rev_slider fullwidthabanner">
			<ul>
				<!-- Slide 1 -->
				<li data-transition="random">
					<!-- Main Image -->
					<img src="https://res.cloudinary.com/rjoncloudinary/image/upload/v1590086155/business-corporate-people-working-concept-PQWSC6Y_yx4pkt.jpg" alt=""
						data-bgposition="center center" data-no-retina>
					<div class="overlay"></div>

					<!-- Layers -->
					<div class="tp-caption tp-resizeme text-ffb922 font-rubik font-weight-500 wellcome make text-center"
						data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						data-y="['middle','middle','middle','middle']" data-voffset="['-105','0','0','-20']"
						data-fontsize="['30','20','20','16']" data-lineheight="['90','48','28','22']" data-width="full"
						data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="700"
						data-splitin="none" data-splitout="none" data-responsive_offset="on">Shine legal inside </div>

					<div class="tp-caption tp-resizeme font-rubik font-weight-700 text-white style1 text-center"
						data-x="['center','center','center','center']" data-hoffset="['0','-2','-2','-2']"
						data-y="['middle','middle','middle','middle']" data-voffset="['12','50','50','30']"
						data-fontsize="['120','60','40','32']" data-lineheight="['150','80','45','43']"
						data-width="full" data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
						data-splitin="none" data-splitout="none" data-responsive_offset="on">you</div>

					<div class="tp-caption tp-resizeme text-white font-rubik font-weight-400 text-wizym text-center"
						data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						data-y="['middle','middle','middle','middle']" data-voffset="['29','180','180','120']"
						data-fontsize="['18','18','16','14']" data-lineheight="['30','30','26','22']" data-width="full"
						data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
						data-splitin="none" data-splitout="none" data-responsive_offset="on"
						data-paddingleft="['280','180','180','10']" data-paddingright="['280','180','180','10']"
						data-margintop="['20','20','20','0']" data-marginbottom="['20','20','20','0']"> </div>

					<div class="tp-caption text-center" data-x="['center','center','center','center']"
						data-hoffset="['-7','0','0','0']" data-y="['middle','middle','middle','middle']"
						data-voffset="['170','130','130','110']" data-width="full" data-height="none"
						data-whitespace="normal" data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
						data-splitin="none" data-splitout="none" data-responsive_offset="on"
						data-paddingtop="['50','50','50','50']" data-paddingbottom="['50','50','50','50']">
						<div class="button-btn elm-btn slider1 hvr-shutter-out-vertical">
							<a href="#">Get A Call</a>
							<div class="submit-btn style1">
								<i class="fas fa-arrow-right"></i>

							</div>
							<div class="submit-btn style2">
								<i class="fas fa-arrow-right"></i>
							</div>
						</div>
						<div class="hover-slider style4">
							<a href="#" class="hvr-shutter-out-verticall">Contact Now</a>
						</div>
					</div>
				</li>
				<!-- /End Slide 1 -->

				<!-- Slide 2 -->
				<li data-transition="random">
					<!-- Main Image -->
					<img src="https://res.cloudinary.com/rjoncloudinary/image/upload/v1590086149/corporate-business-on-the-table-36VW827_ieroq4.jpg" alt=""
						data-bgposition="center center" data-no-retina>
					<div class="overlay"></div>

					<!-- Layers -->
					<div class="tp-caption tp-resizeme text-ffb922 font-rubik font-weight-500 wellcome make text-center"
						data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						data-y="['middle','middle','middle','middle']" data-voffset="['-105','0','0','-20']"
						data-fontsize="['30','20','20','16']" data-lineheight="['90','48','28','22']" data-width="full"
						data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="700"
						data-splitin="none" data-splitout="none" data-responsive_offset="on">Do You Want To Boost Your
						Business?</div>
					<br>
					<div class="tp-caption tp-resizeme font-rubik font-weight-700 text-white style1 text-center"
						data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						data-y="['middle','middle','middle','middle']" data-voffset="['12','50','50','30']"
						data-fontsize="['60','30','20','16']" data-lineheight="['150','80','45','43']" data-width="full"
						data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
						data-splitin="none" data-splitout="none" data-responsive_offset="on">Let`s Connect </div>

					<div class="tp-caption tp-resizeme text-white font-rubik font-weight-400 text-wizym text-center"
						data-x="['center','center','center','center']" data-hoffset="['0','-2','-2','-2']"
						data-y="['middle','middle','middle','middle']" data-voffset="['29','180','180','120']"
						data-fontsize="['18','18','16','14']" data-lineheight="['30','30','26','22']" data-width="full"
						data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
						data-splitin="none" data-splitout="none" data-responsive_offset="on"
						data-paddingleft="['280','180','180','10']" data-paddingright="['280','180','180','10']"
						data-margintop="['20','20','20','0']" data-marginbottom="['20','20','20','0']"> </div>

					<div class="tp-caption text-center" data-x="['center','center','center','center']"
						data-hoffset="['-7','0','0','0']" data-y="['middle','middle','middle','middle']"
						data-voffset="['170','130','130','110']" data-width="full" data-height="none"
						data-whitespace="normal" data-transform_idle="o:1;"
						data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
						data-splitin="none" data-splitout="none" data-responsive_offset="on"
						data-paddingtop="['50','50','50','50']" data-paddingbottom="['50','50','50','50']">
						<div class="button-btn elm-btn slider1 hvr-shutter-out-vertical">
							<a href="#">Get Appointment</a>
							<div class="submit-btn style1">
								<i class="fas fa-arrow-right"></i>

							</div>
							<div class="submit-btn style2">
								<i class="fas fa-arrow-right"></i>
							</div>
						</div>
						<div class="hover-slider style4">
							<a href="#" class="hvr-shutter-out-verticall">Contact Now</a>
						</div>
					</div>
				</li>
				<!-- /End Slide 2 -->
			</ul>
		</div>
	</div>
</div>
<!-- /.flat-slider -->
<div class="main-homepage1 mobi-mt30">
	<section class="flat-features-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="title-features-5">
						<h5>Why Choose Us?</h5>
						<h2>10th year of leadership</h2>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="content-features-5">
						<p>Personal Support</p>
						<p>Practical experience</p>
						<p>Extensive Network</p>
						<div class="inner-features-5 clearfix">
							<div class="image-features-5">
								<img src="image/services/services12.png" alt="image">
							</div>
							<div class="name-features-5">
								<h3>Shine Legal</h3>
								<p>CEO, Shine Legal</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="flat-about2">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<img src="/image/home/abtus.jpg">

				</div>
				<div class="col-md-5">
					<div class="content-about2">
						<div class="wrap-content-about2">
							<h5>ABOUT US</h5>
							<h2><a href="index.html">Doing the right thing,
									at the right time.</a></h2>
							<p class="one">We are one of the largest legal services firms. We combine our passion for
								people with intelligent technology to help an organizations performance.

							</p>
							<p class="two">
								We offer services in New Delhi, Uttar Pradesh, Haryana and other major cities in India,
								like accounts outsourcing, auditing, company formation in India, Business taxation,
								corporate compliance, starting business in India, registration of foreign companies, tax
								due diligence, taxation of expatriates etc.</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<section class="flat-services">
		<div class="container">
			<div class="row fix-height-box">
				<div class="col-sm-12">
					<div class="title-section style1">
						<p>Uses of Technology</p>
						<div class="content-inner clearfix">
							<div class="wrap-contentt">
								<h2><a href="index.html">What IT Offers</a></h2>
							</div>


						</div>
					</div>
				</div>
				<div class=" col-md-4 col-sm-6">
					<div class="wrap-services clearfix mobi-mt40">
						<div class="image-services">
							<img src="image/home/home1-2.png" alt="image">
						</div>
						<div class="content-services">
							<h2><a href="index.html">Financial
									Planing</a></h2>
							<p>You plan your taxes more accurately &amp; make your Buiness Future Ready </p>
						</div>
					</div>
				</div>
				<div class=" col-md-4 col-sm-6">
					<div class="wrap-services clearfix mobi-mt40">
						<div class="image-services">
							<img src="image/home/home1-2.png" alt="image">
						</div>
						<div class="content-services">
							<h2><a href="index.html">Advanced Analytics</a></h2>
							<p>You can gain access to insights of your books and find the miraclous new resource plans
							</p>
						</div>
					</div>
				</div>
				<div class=" col-md-4 col-sm-6">
					<div class="wrap-services clearfix mobi-mt40">
						<div class="image-services">
							<img src="image/home/home1-3.png" alt="image">
						</div>
						<div class="content-services">
							<h2><a href="index.html">Corporate Finance</a></h2>
							<p>Loans &amp; Banking becomes easier if you are digitally secured. </p>
						</div>
					</div>
				</div>
				<div class=" col-md-4 col-sm-6">
					<div class="wrap-services bt clearfix mobi-mt40">
						<div class="image-services">
							<img src="image/home/home1-4.png" alt="image">
						</div>
						<div class="content-services">
							<h2><a href="index.html">Business Consulting</a></h2>
							<p>Don`t know your Tax leakages? Our experts are here for you. </p>
						</div>
					</div>
				</div>
				<div class=" col-md-4 col-sm-6">
					<div class="wrap-services bt clearfix mobi-mt40">
						<div class="image-services">
							<img src="image/home/home1-5.png" alt="image">
						</div>
						<div class="content-services">
							<h2><a href="index.html">Digital Secured</a></h2>
							<p>All your data is more secured and efficient if working with cloud </p>
						</div>
					</div>
				</div>
				<div class=" col-md-4 col-sm-6">
					<div class="wrap-services bt clearfix mobi-mt40">
						<div class="image-services">
							<img src="image/home/home1-6.png" alt="image">
						</div>
						<div class="content-services">
							<h2><a href="index.html">Market Research</a></h2>
							<p>Compete your rivals with digital armory and make yourself stronger </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="flat-features-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-section">
						<p>Our Team</p>
						<div class="content-inner clearfix">
							<div class="wrap-contentt">
								<h2><a href="index.html">10th year of leadership </a></h2>
							</div>
							<div class="wrap-btn">
								<a href="#" class="flat-button-arrow">See full TEAM</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-8 mobi-mt40">
					<article class="post active">
						<div class="featured-post">
							<img src="image/individual-tax-return-form-on-table-ALBS78F.jpg" alt="image">
						</div>
						<div class="content-post">
							From Barter System to BitCoin the time has changed a LOT but Basics remain the same .Welcome
							to SHINE LEGAL.
							<br>Our Aim is to Build ECOTECH system for you.
						</div>
					</article>
				</div>
				<div class="col-md-4 mobi-mt40">
					<article class="post active">
						<div class="featured-post">
							<img height="80" src="image/MrTaqueer.jpeg" alt="image">
						</div>
						<div class="content-post">
							<img src="image/about/about4.png" alt="image">
							<h3><a href="index.html">M.Tauqeer (Advocate)</a></h3>
							<p>Phone- 9891838704</p>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>

	<div class="flat-sponsors">
		<div class="container">
			<div class="row">
				<h2>Testimonials</h2>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="wrap-logo">
						<div class="flat-carousel-box data-effect clearfix" data-gap="30" data-column="6"
							data-column2="1" data-column3="1" data-dots="false" data-nav="true" data-auto="false">
							<div class="owl-carousel">
								<div class="image">
									<a href="index.html"><img src="image/testimonials/sehat.jpg" alt="image"></a>
									<h3> Faizan Mohammad</h3>
								</div>
								<div class="image">
									<a href="index.html"><img src="image/testimonials/Maa%20Mundeshwari%20Services%20(8).png"
											alt="image"></a>
									<h3>Director - Sunil Kumar Pandey</h3>
								</div>
								<div class="image">
									<a href="index.html"><img src="image/testimonials/MatbahFoods.jpg" alt="image"></a>
									<h3>Director - Sajid Haider</h3>
								</div>
								<div class="image">
									<a href="index.html"><img src="image/testimonials/raiplacementservices.jpg"
											alt="image"></a>
									<h3> Director - Uttaresh Kumar Rai </h3>
								</div>
								<div class="image">
									<a href="index.html"><img src="image/testimonials/twowheel.jpg" alt="image"></a>
									<h3>Partner - Ashish Rai</h3>
								</div>
								<div class="image">
									<a href="index.html"><img src="image/testimonials/ezee-lift.jpg" alt="image"></a>
									<h3>Director - M. Rahman</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="flat-our-blog">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-section">
						<p>NEWS FEEDS</p>
						<div class="content-inner clearfix">
							<div class="wrap-contentt">
								<h2><a href="index.html">Get Every Single
										Updates From Here</a></h2>
							</div>

							<div class="wrap-btn">
								<a href="#" class="flat-button-arrow">Our Blog</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<article class="post mobi-mt30">
						<div class="featured-post style1">
							<img src="image/case/case9.jpg" alt="image">
						</div>
						<div class="content-post style1">
							<ul>
								<li><a href="#">Marketing</a></li>
								<li><a href="#">Stratigic Plan</a></li>
							</ul>
							<h3><a href="index.html">Consectetur adipisicing elit, sed
									do eiusmod tempor.</a></h3>
							<div class="meta">
								<ul>
									<li class="may">
										<a href="#"><i class="fa fa-user" aria-hidden="true"></i> 12 TH MAY 2018</a>
									</li>
									<li>
										<a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 30 COMMENTS</a>
									</li>
								</ul>
							</div>
						</div>
					</article>
				</div>
				<div class="col-md-3 col-sm-6">
					<article class="post mobi-mt30">
						<div class="featured-post">
							<img src="image/case/case10.jpg" alt="image">
						</div>
						<div class="content-post">
							<ul>
								<li><a href="#">Planing</a></li>
								<li><a href="#">Insurance</a></li>
							</ul>
							<h5><a href="index.html">Consectetur adipisicing eliti
									do eiusmod tempor.</a></h5>
							<p>Enim ad minim veniam, quistion a nostrud exercitation ullamco is laboris nisi ut aliquip
								ex. </p>
						</div>
					</article>
				</div>
				<div class="col-md-3 col-sm-6">
					<article class="post mobi-mt30">
						<div class="featured-post">
							<img src="image/case/case11.jpg" alt="image">
						</div>
						<div class="content-post">
							<ul>
								<li><a href="#">Planing</a></li>
								<li><a href="#">Insurance</a></li>
							</ul>
							<h5><a href="index.html">Discuss parts</a></h5>
							<p>
								 </p>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
</div>