
<div class="page-title">
   <div class="container">
       <div>
           <div class="row">
               <div class="col-lg-12">
                    <div class="page-title-heading">
                    <img src="image/aboutcompany.jpg" alt="image">
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="home">HOME</a>
                            </li>
                            <li>
                                <a href="#details">SERVICE DETAILS</a>
                            </li>
                        </ul>
                    </div>
               </div>
           </div>
       </div>
   </div>
</div>
<div class="main-typography">
   <section id="details" class="flat-elements">
       <div class="container">
           <div class="row">
               <div class=" col-md-5 col-sm-12">
                   <div class="heading-elements">
                       
                       <h2>What is Private Limited Company?</h2>
                      
                   </div>
               </div>
               <div class=" col-md-7 col-sm-12">
                   <div class="text-elements">
                       <p class="text-one">Private Limited Company is incorporated under the Companies Act of 2013, and governed by the Ministry of Corporate Affairs (MCA). It is a registered corporate structure that provides business a separate legal identity from its owners and the efficiency of members of a private limited company restricted to the number of shares possessed by that member where A minimum number of shareholders required to start a private limited corporation is two, while the higher limit of members is 200 following the Companies Act, 2013. </p>
                      
                   </div>
               </div>
           </div>
       </div>
   </section>
  <section class="flat-elements">
       <div class="container">
           <div class="row">
               <div class=" col-md-5 col-sm-12">
                   <div class="heading-elements">
                       
                      <img src="../image/pvtltd.jpg">
                      
                   </div>
               </div>
               <div class=" col-md-7 col-sm-12">
                   <div class="text-elements">
                       <p class="text-one">Registering a Private Limited Company offers many advantages.
                      
                       

 </p>
               <ul>
                               <li><h3>Perpetual Existence: -</h3> A company has perpetual existence i.e. its existence is not affected by the Death or insolvency or retirement of its member.

                                  
                               </li>
                               
                            <li> <h3>Limited Liability: - </h3>A private limited company provides limited liability to its shareholders, means Liability of members of a limited company is limited to the face value of the shares subscribed by each of them. Members cannot be asked to pay anything more than what is due or unpaid on the shares of the company held by them</li>
                               
                                <li><h3>Separate Legal entity: -</h3> A private limited company is legally recognized as a separate entity. The company can operate on its own name simply by opening a bank account to own assets and enter into contract with parties.</li>
                                <li><h3>Fund Raising: -</h3>	 A private limited company can obtain funds from the debentures as well as the stockholders or borrowing from external sources easier.
</li>
                                <li><h3>Owners Transferability: -</h3> The ownership of a company can be transferred to any other legal entity or person in India or abroad easily in part or whole.</li>
                       </ul>            
                   </div>
               </div>
           </div>
       </div>
   </section>
 <section class="flat-elements">
       <div class="container">
           <div class="row">
               <div class=" col-md-5 col-sm-12">
                   <div class="heading-elements">
                         <div class="heading-elements">
                       
                       <h2> Requirement for Private Limited Company Incorporation? </h2>
                      
                   </div>
                  
                      
                   </div>
               </div>
               <div class=" col-md-7 col-sm-12">
                   <div class="text-elements">
                       <p class="text-one">
                      
                       

 </p>
               <ul>


                               <li>Minimum 2 Directors

                                  
                               </li>
                               
                            <li>Minimum 2 Shareholders (Directors & Shareholders can be same)</li>
                               
                                <li>Minimum paid-up capital of Rs. 1,00,000/-</li>
                                <li>DIN for both Directors
</li>
                                <li>Digital Signatures for all Directors.</li>
                   <li>Consent from subscriber or director</li>
                   <li>Proof of Registered Address</li>
                   <li>NOC from the owner of the premises</li>
                   <li>Unique Name of Company</li>
                       </ul>            
                   </div>
               </div>
           </div>
       </div>
   </section>
    <section class="flat-elements">
       <div class="container">
           <div class="row">
           
               <div class=" col-md-12 col-sm-12">
                   <div class="text-elements">
                       <p class="text-one">
                      
                  <b> Document Requirement for Private Limited Company Incorporation?</b> 

 </p>
               <ul>


                               <li>ID Proof (PAN Card)

                                  
                               </li>
                               
                            <li>Address Proof 1(Voter ID/Passport/Driving License</li>
                               
                                <li>Address Proof 2(Electricity Bill/Telephone Bill/Bank Statement)</li>
                                <li>Photograph
</li>
                                <li>Aadhaar Card</li>
                   <li>Electricity Bill and Rent Agreement of premises</li>
                   <li>NOC from the owner of the premises</li>
                 
                       </ul>            
                   </div>
               </div>
           </div>
       </div>
   </section>
    
     <section class="flat-elements">
       <div class="container">
           <div class="row">
               <div class=" col-md-5 col-sm-12">
                   <div class="heading-elements">
                         <div class="heading-elements">
                       
                       <h2> STEPS=></h2>
                      
                   </div>
                  
                      
                   </div>
               </div>
               <div class=" col-md-7 col-sm-12">
                   <div class="text-elements">
                       <p class="text-one">
                      
                       Steps for registering a private limited business in India

 </p>
               <ul>


                               <li>Obtain a digital signature

                                  
                               </li>
                               
                            <li>Obtain a director identification number</li>
                               
                                <li>File for approval of the name</li>
                                <li>Draft-MoA and e-AoA
</li>
                                <li>File SPICe form.</li>
                
                       </ul>            
                   </div>
               </div>
           </div>
       </div>
   </section>
  <div class="flat-form">
       <div class="container">
           <div class="row">
              <div class="col-lg-12">
                  <div class="wrap-form">
                        <span class="wpcf7-form-control-wrap your-name">
                            <input type="text" tabindex="1" id="name" name="name" value="" class="wpcf7-form-control" placeholder="Enter your desired company name" required>
                        </span>
                        <div class="flat-divider-margintop10px"></div>                                                           
                        <span class="wpcf7-form-control-wrap your-email">
                            <input type="email" tabindex="3" id="email" name="email" value="" class="wpcf7-form-control" placeholder="Enter your email" required>
                        </span>
                        <span class="wpcf7-form-control-wrap your-message">
                           <textarea name="message" tabindex="5" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" placeholder="Enter your Phone Number" required ></textarea>
                        </span> 
                        <div class="wrap-btn">
                          <a href="#" class="flat-button-arrow">Call me</a>
                        </div>
                  </div>
              </div> 
           </div>
       </div>
   </div>
   
    
 
 
</div>
